flask==3.1.1
flask-sqlalchemy==3.1.1
flask-migrate==4.0.5
flask-login==0.6.2
flask-wtf==1.2.1
flask-mail==0.9.1
flask-bootstrap==3.3.7.1
flask-moment==1.0.5
python-dotenv==1.0.0
email-validator==2.1.0.post1
python-dateutil==2.8.2
pillow==10.2.0
pyjwt==2.13.0
requests==2.31.0
bleach==6.1.0
markdown==3.5.2
flask-pagedown==0.4.0
flask-httpauth==4.8.0